.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  #input {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 100vmax;
  }
  .todos_outer-div {
    width: calc(100% - 20px);
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    gap: 20px;
    #todos_div {
      background-color: pink;
      border-radius: 7px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item_span {
        font-size: calc(10px + 2vmin);
      }
      .time-of_span {
        font-size: calc(5px + 2vmin);
      }
    }
  }
}
button {
  height: fit-content;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  background-color: white;
  border-radius: 100vmax;
  padding: 5px 20px;
  max-width: fit-content;
}
